
.depicter-revert .depicter-52-element-11{
	font-size:15px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-52-element-10{
	font-size:20px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-52-element-7{
	font-size:22px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-52-element-5{
	font-size:15px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-52-element-4{
	font-size:24px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-52-element-3{
	font-size:15px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-52-element-2{
	font-size:24px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-52-section-1 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-52-element-33{
	font-size:15px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-52-element-32{
	font-size:20px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-52-element-29{
	font-size:22px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-52-element-27{
	font-size:15px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-52-element-26{
	font-size:24px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-52-element-25{
	font-size:15px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-52-element-24{
	font-size:24px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-52-section-23 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-52-element-44{
	font-size:15px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-52-element-43{
	font-size:20px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-52-element-40{
	font-size:22px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-52-element-38{
	font-size:15px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-52-element-37{
	font-size:24px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-52-element-36{
	font-size:15px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-52-element-35{
	font-size:24px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-52-section-34 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-52-element-57{
	font-size:15px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-52-element-56{
	font-size:20px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-52-element-53{
	font-size:22px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-52-element-51{
	font-size:15px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-52-element-50{
	font-size:24px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-52-element-49{
	font-size:15px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-52-element-48{
	font-size:24px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-52-section-47 .depicter-section-background{
	background-color:#FFFFFF;
}

/***** Mobile *****/
@media screen and (max-width: 767px){

.depicter-revert .depicter-52-element-11{
	font-family:"Montserrat";
}
.depicter-revert .depicter-52-element-10{
	font-family:"Montserrat";
}
.depicter-revert .depicter-52-element-7{
	font-family:"Montserrat";
}
.depicter-revert .depicter-52-element-5{
	font-family:"Montserrat";
}
.depicter-revert .depicter-52-element-4{
	font-family:"Montserrat";
}
.depicter-revert .depicter-52-element-3{
	font-family:"Montserrat";
}
.depicter-revert .depicter-52-element-2{
	font-family:"Montserrat";
}
.depicter-revert .depicter-52-section-1 .depicter-section-background{
	background-color:#F6F5F8;
}
.depicter-revert .depicter-52-element-33{
	font-family:"Montserrat";
}
.depicter-revert .depicter-52-element-32{
	font-family:"Montserrat";
}
.depicter-revert .depicter-52-element-29{
	font-size:22px;
	font-family:"Montserrat";
}
.depicter-revert .depicter-52-element-27{
	font-family:"Montserrat";
}
.depicter-revert .depicter-52-element-26{
	font-family:"Montserrat";
}
.depicter-revert .depicter-52-element-25{
	font-family:"Montserrat";
}
.depicter-revert .depicter-52-element-24{
	font-family:"Montserrat";
}
.depicter-revert .depicter-52-section-23 .depicter-section-background{
	background-color:#F6F5F8;
}
.depicter-revert .depicter-52-element-44{
	font-family:"Montserrat";
}
.depicter-revert .depicter-52-element-43{
	text-align:justify;
	font-family:"Montserrat";
}
.depicter-revert .depicter-52-element-40{
	font-family:"Montserrat";
}
.depicter-revert .depicter-52-element-38{
	font-family:"Montserrat";
}
.depicter-revert .depicter-52-element-37{
	font-family:"Montserrat";
}
.depicter-revert .depicter-52-element-36{
	font-family:"Montserrat";
}
.depicter-revert .depicter-52-element-35{
	font-family:"Montserrat";
}
.depicter-revert .depicter-52-section-34 .depicter-section-background{
	background-color:#F6F5F8;
}
.depicter-revert .depicter-52-element-57{
	font-family:"Montserrat";
}
.depicter-revert .depicter-52-element-56{
	font-family:"Montserrat";
}
.depicter-revert .depicter-52-element-53{
	font-family:"Montserrat";
}
.depicter-revert .depicter-52-element-51{
	font-family:"Montserrat";
}
.depicter-revert .depicter-52-element-50{
	font-family:"Montserrat";
}
.depicter-revert .depicter-52-element-49{
	font-family:"Montserrat";
}
.depicter-revert .depicter-52-element-48{
	font-family:"Montserrat";
}
.depicter-revert .depicter-52-section-47 .depicter-section-background{
	background-color:#F6F5F8;
}

}
